{% extends 'base.html' %}

{% block title %}
About
{% endblock %}

{% block content %}
<div class="page">
    <h1>Our story</h1>
    <div class="content"> 
      <p class="paragraph">Once upon a time, there were three passionate students immersed in the world of computer science. Their names were Stefan, Silvan, and Nathan. Bonded by their shared love for coding and problem-solving, they embarked on a journey that would lead them to create something truly remarkable.</p> 
      <p class="paragraph">It all began when they were tasked with a challenging project for their computer science class. Their assignment? To recreate or invent a program using programming languages like C and HTML. As they brainstormed ideas, inspiration struck like lightning on a stormy night.</p>
      <img class="image" src="static\Images\thunder.jpg" alt="Thunder">
      <p class="paragraph">Stefan, with his keen analytical mind, proposed the idea of developing a Sudoku solver. "Imagine," he said, eyes gleaming with excitement, "a tool that can crack any Sudoku puzzle with just a click of a button!"</p> 
      <p class="paragraph">Nathan, the creative powerhouse of the trio, immediately caught onto the vision. "Yes! We can make it user-friendly, with a sleek and intuitive interface. People struggling with Sudoku puzzles will finally have a lifeline!".</p> 
      <p class="paragraph">Silvan, the coding whiz, nodded in agreement. "I'll handle the backend to solve the puzzles efficiently together with Stefan, Nathan will tackle the frontend design.”</p>
      <p class="paragraph">And so, their roles were divided, and they delved into the project with unparalleled enthusiasm. Days turned into nights as they poured over lines of code, faced numerous challenges, and shared countless moments of laughter.</p> 
      <p class="paragraph">Despite the obstacles they encountered along the way, they persevered, fueled by their shared determination and passion for excellence. With each hurdle overcome, their vision of creating the ultimate Sudoku-solving tool grew closer to reality.</p> 
      <p class="paragraph">Finally, after weeks of hard work and dedication, they unveiled their creation to the world – a website where Sudoku enthusiasts could find solace in their most perplexing puzzles.</p> 
      <p class="paragraph">And thus, Stefan, Silvan, and Nathan’s journey from students to creators of a beloved Sudoku solver came to a triumphant conclusion, proving that with teamwork, innovation, and a sprinkle of genius, anything is possible.</p> 
      <button class="buttonGreen click1"><a class="buttonText" href="./sudoku">Start Solving!</a></button>      
    </div>
  </div>
{% endblock %}