{% extends 'base.html' %}

{% block title %}
Contact
{% endblock %}

{% block content %}
<div class="page">
    <h1>Contact</h1>
    <p class="paragraph">Do you want to know more aout this great Sudoku Problem Solving App, feel free to contact one of us:</p>
    <p>Stefan: <a href="mailto:12623@hageveld.nl">12623@hageveld.nl</a></p> 
    <p>Silvan: <a href="mailto:12117@hageveld.nl">12117@hageveld.nl</a></p>   
    <p>Nathan: <a href="mailto:12253@hageveld.nl">12253@hageveld.nl</a></p>   
  </div>
{% endblock %}