<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>

</style>
</head>


<body>



<div class="topnav">
  <a class= "navbar" href="http://127.0.0.1:5000/#home">Home</a>
  <a class= "navbar" href="sudoku">sudoku solver</a>
  <a class= "active" href="http://127.0.0.1:5000/#contact">Contact Us</a>
  <a class= "navbar" href="#about">About</a>
</div>

 






</body>
</html>