<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>

</style>
</head>
<body>

    <div class="top">
        <p>sudoku solver</p>
      </div>

<h2>Media Queries</h2>


<p>Resize the browser window.</p>

<p>Make sure you reach the breakpoint at 800px when resizing this frame.</p>



<div class="main">
  <a href="sudoku"><button>sudoku solver</button></a>
</div>

<div class="right">
  <p>Right Content</p>
</div>

</body>
</html>
