{% extends 'base.html' %}

{% block title %}
Homepage
{% endblock %}

{% block content %}
<div class="page">
  <h1>Sudoku Solver</h1>
  <div class="content"> 
    <p class="paragraph">Welcome to our Sudoku Solver website, where puzzlers of all levels can find the perfect solution to their Sudoku dilemmas!</p> 
    <p class="paragraph">Are you stuck on a challenging puzzle, scratching your head in frustration? Fear not! Our platform is here to provide you with the ultimate solving tool, ensuring that no Sudoku remains unsolved. Whether you're a novice or a seasoned Sudoku enthusiast, our user-friendly interface and powerful solving algorithms are at your disposal, ready to unravel even the most perplexing grids.</p> 
    <p class="paragraph">Say goodbye to endless frustration and hello to satisfaction as you watch our solver effortlessly crack the code of any Sudoku puzzle that crosses your path. So why wait? Dive into the world of Sudoku-solving excellence with us today!</p> 
    <button class="buttonGreen click1"><a class="buttonText" href="./sudoku">Start Solving!</a></button>  
  </div>
</div>

{% endblock %}
