{% extends 'base.html' %}

{% block head %}
<script src="{{ url_for('static', filename='base.js') }}"></script>
{% endblock %}

{% block title %}
Sudoku
{% endblock %}

{% block content %}
<div id="message"></div>
<table class="center">
    {% for row in range(9) %}
        {% if row > 0 and row % 3 == 0 %}<tr></tr><tr></tr>{% endif %}
        <tr>
        {% for col in range(9) %}
            {% with index = 9 * row + col %}
            <td><input
                id="{{ index }}"
                class="sudoku-cell"
                type="text"
                onkeydown="handleInput(event, {{ index }}); handleArrows(event, {{ index }})"
            ></td>
            {% endwith %}
            {% if col < 8 and col % 3 == 2 %}<td style="border: none"></td>{% endif %}
        {% endfor %}
        </tr>
    {% endfor %}

<input
    type="text"
    size="81"
    id="sudoku-code"
    value="000000000000000000000000000000000000000000000000000000000000000000000000000000000"
    oninput="onGridChange()"
>
<!--<button onclick="setGridFromCode()">Set grid</button><br>-->
<button class="button click1" onclick="solveGrid()">Solve</button>
<button class="button click1" onclick="emptyGrid()">Empty</button>
</table>

{% endblock %}